Web References/CalculatorService/CalculatorWsImplService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.bit.ueh.edu.vn/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="CalculatorWsImplService" targetNamespace="http://services.bit.ueh.edu.vn/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/sa-soa-ws-demo/calculatorWebService?xsd=1" namespace="http://services.bit.ueh.edu.vn/" />
    </xsd:schema>
  </types>
  <message name="add">
    <part name="parameters" element="tns:add" />
  </message>
  <message name="addResponse">
    <part name="parameters" element="tns:addResponse" />
  </message>
  <message name="multiply">
    <part name="parameters" element="tns:multiply" />
  </message>
  <message name="multiplyResponse">
    <part name="parameters" element="tns:multiplyResponse" />
  </message>
  <message name="subtract">
    <part name="parameters" element="tns:subtract" />
  </message>
  <message name="subtractResponse">
    <part name="parameters" element="tns:subtractResponse" />
  </message>
  <message name="divide">
    <part name="parameters" element="tns:divide" />
  </message>
  <message name="divideResponse">
    <part name="parameters" element="tns:divideResponse" />
  </message>
  <portType name="CalculatorWs">
    <operation name="add">
      <input wsam:Action="http://services.bit.ueh.edu.vn/CalculatorWs/addRequest" message="tns:add" />
      <output wsam:Action="http://services.bit.ueh.edu.vn/CalculatorWs/addResponse" message="tns:addResponse" />
    </operation>
    <operation name="multiply">
      <input wsam:Action="http://services.bit.ueh.edu.vn/CalculatorWs/multiplyRequest" message="tns:multiply" />
      <output wsam:Action="http://services.bit.ueh.edu.vn/CalculatorWs/multiplyResponse" message="tns:multiplyResponse" />
    </operation>
    <operation name="subtract">
      <input wsam:Action="http://services.bit.ueh.edu.vn/CalculatorWs/subtractRequest" message="tns:subtract" />
      <output wsam:Action="http://services.bit.ueh.edu.vn/CalculatorWs/subtractResponse" message="tns:subtractResponse" />
    </operation>
    <operation name="divide">
      <input wsam:Action="http://services.bit.ueh.edu.vn/CalculatorWs/divideRequest" message="tns:divide" />
      <output wsam:Action="http://services.bit.ueh.edu.vn/CalculatorWs/divideResponse" message="tns:divideResponse" />
    </operation>
  </portType>
  <binding name="CalculatorWsImplPortBinding" type="tns:CalculatorWs">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="add">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="multiply">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="subtract">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="divide">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="CalculatorWsImplService">
    <port name="CalculatorWsImplPort" binding="tns:CalculatorWsImplPortBinding">
      <soap:address location="http://localhost:8080/sa-soa-ws-demo/calculatorWebService" />
    </port>
  </service>
</definitions>